.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.x.axis {
    .domain {
        fill: transparent;
        stroke: transparent;
    }
}
.tick text {
    fill: #aaa;
    font-size: 11px;
}
.winner-marker {
    stroke: #ccc;
    stroke-width: 1px;
}
.winner-marker-text {
    font-size: 11px;
    fill: #777;
}

.dot {
  stroke: transparent;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 48px;
  pointer-events: none;
  border: 1px solid #888;
  padding: 5px;
  border-radius: 2px;
  background: #444;
  color: #fff;
}

#color-legend {
    display: inline-block;
}
.legend-text, .legend-items {
    display: inline-block;
}
.legend-label {
    color: #555;
}
.legend-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 7px;
        float: left;
    margin-top: 5px;
}
